body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #A6CFD5;
}

body::after {
    position: absolute;
    width: 100%;
    height: 120vh;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #26408b;
    clip-path: polygon(0% 0%, 0% 100%, 4% 100%, 4% 0, 96% 0, 96% 70%, 96% 90%, 96% 100%, 100% 100%, 100% 0%);

    @include tablet {
        clip-path: polygon(0 100%, 0 100%, 100% 100%, 0% 100%);
    }
}

#masthead {
    background-color: #0d1631;
    width: 96%;
    
    @include tablet {
        width: 100%;
    }

    p, ul {
        margin-top: 0;
        margin-left: 8%;
    }

    .site-title {
        padding-top: 1rem;
        font-size: 3rem;
        margin-bottom: 2vh;
    }

    .site-title, .site-description {
        font-family: Bungee;
        color: $color_site-title;
    }

}

.wp-block-image {
    margin: auto;
    transform: scale(1);
    transition: 0.2s ;

    .wp-image-8, .wp-image-9 {
        box-sizing: border-box;
        border-radius: 30px;
    }

    @include phone {
        .wp-image-8 {
            grid-row: 1/2;
        }

        .wp-image-9 {
            grid-row: 3/4;
        }
    }
}

    .wp-block-image:hover {
        transform: scale(1.3);
    }

.entry-content {
    height: 700px;
    display: grid;
    width: 85%;
    min-width: 1150px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 40px;

    @include tablet {
        gap: 0%;
        min-width: 40px;

        .wp-block-image {
            //width: 40%;
        }
    }

    @include phone {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

}

.entry-footer {
    display: none;
}

footer {
    background-color: rgb(56, 56, 56);
    width: 96%;
    height: 4.8rem;
    text-align: center;
    padding-top: 1.5rem;

    @include tablet {
        margin-top: 10%;
        width: 100%;
    }
}

.site-info {
    color: $color_site-title;
}

.entry-content p {
    text-align: justify;
    font-family: 'Teko';
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 15%;
    padding-right: 15%;

    @include tablet {
        font-size: 1.3rem;
    }

}

.entry-content p:nth-child(3) {
    @include phone {
        grid-row: 2/3;
    }
}

.entry-content p:nth-child(4) {
    @include phone {
        grid-row: 4/5;
    }
}

.entry-title {
    margin-left: 8%;
    color: rgb(56, 56, 56);
}

a {
    text-decoration: none;
}