a {
	color: $color__link;

	&:visited {
		color: $color_site-title;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color_site-title;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	.site-title a, .site-title a:hover, .site-title a:focus, .site-title a:active{
		color: $color_site-title;
	}
}
